.container {
    width: 100%;
}
.titleWapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin: 12px;
    position: absolute;
    right: 0px;
}
