.content {
    height: 100%;

    .logo {
        float: left;
        height: 31px;
        margin: 16px 24px 16px 0;
        text-align: center;
        display: flex;
        color: white;
        display: flex;
        align-items: center;
        font-weight: bold;
        font-size: 20px;
        position: relative;
        left: -25px;
    }

}