.left::after {
    position: absolute;
    top: 0;
    right: -20px;
    bottom: 0;
    width: 30px;
    // transform: translateX(100%);
    // transition: box-shadow 0.3s;
    content: "";
    pointer-events: none;
    box-shadow: inset 10px 0 8px -8px rgba(5, 5, 5, 0.06);
}

.right::before {
    position: absolute;
    top: 0;
    left: -20px;
    bottom: 0;
    width: 30px;
    content: "";
    pointer-events: none;
    box-shadow: inset -9px 0px 8px -8px rgba(5, 5, 5, 0.06);
}
