/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
	padding: 4rem 0;
	text-align: center;
	position: relative;
}

@media screen and (max-width: 996px) {
	.heroBanner {
		padding: 2rem;
	}
}

.buttons {
	display: flex;
	align-items: center;
	justify-content: center;
}

.image {
	height: 100%;
	flex-grow: 1;
	order: 2;
	margin: 0;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.title3 {
	line-height: 36px;
	font-size: 24px;
	font-weight: 500;
	white-space: pre-wrap;
	color: rgba(60, 60, 67, 0.78);
	margin-top: 15px;
}

[data-theme="dark"] {
	.title3 {
		line-height: 36px;
		font-size: 24px;
		font-weight: 500;
		white-space: pre-wrap;
		color: rgba(235, 235, 245, 0.6);
	}
	.btn {
		text-decoration: none !important;
		border-radius: 20px;
		padding: 0 20px;
		line-height: 38px;
		font-size: 14px;
		border-color: "#4c67c6";
		color: white;
		background-color: #4c67c6;
		min-width: 120px;
		text-align: center;
		font-weight: 700;
		margin-top: 15px;
		white-space: nowrap;
		margin-right: 20px;
		transition: color 0.25s, border-color 0.25s, background-color 0.25s;
		&:hover {
			background: rgb(92, 115, 231);
			color: white;
		}
	}
	.btn2 {
		background: rgb(50, 54, 63);
		color: rgba(255, 255, 245, 0.86);
		&:hover {
			background: rgb(65, 72, 83);
			color: white;
		}
	}
}
.btn {
	text-decoration: none !important;
	border-radius: 20px;
	padding: 0 20px;
	line-height: 38px;
	font-size: 14px;
	border-color: "#4c67c6";
	color: white;
	background-color: #4c67c6;
	min-width: 120px;
	text-align: center;
	font-weight: 700;
	margin-top: 15px;
	white-space: nowrap;
	margin-right: 20px;
	transition: color 0.25s, border-color 0.25s, background-color 0.25s;
	&:hover {
		background: rgb(92, 115, 231);
		color: white;
	}
}
.btn2 {
	text-decoration: none;
	background: rgb(235, 235, 239);
	color: rgb(60, 60, 67);
	&:hover {
		background: rgb(228, 228, 233);
		color: black;
	}
}

@media screen and (min-width: 960px) {
	.imgLogo {
		width: 266px;
		
	}
	.logo {
		position: absolute;
		width: 280px;
		height: 280px;
	}
	.btnPart {
		display: flex;
	}

	.header {
		max-width: 1152px;
		display: flex;
		height: 500px;
		padding-top: 30px;
		font-weight: bold;
	}
	.infoPart {
		text-align: left;
		flex: 1;
		height: 100%;
	}

	.logoPart {
		flex: 1;
		height: 100%;
		transform: translate(0px, -66px);
	}
	.imageContainer {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		position: relative;
		margin: 0 auto;
	}
	.imageBg {
		width: 320px;
		height: 320px;
		position: absolute;
		border-radius: 50%;
		background-image: linear-gradient(-45deg, #212a77 80%, #37de15 50%);
		filter: blur(68px);
	}
	.logoImg {
		width: 80%;
		position: absolute;
	}

	.title {
		font-weight: bold;
		background: linear-gradient(
			-45deg,
			hsl(0 100% 60% / 80%),
			hsl(15 100% 60% / 80%) 40%,
			hsl(23 96% 62% / 80%) 45%,
			hsl(0 100% 60% / 80%) 60%,
			hsl(358 58% 47% / 80%)
		);
		background-clip: text;
		-webkit-text-fill-color: transparent;
		font-size: 56px;
		line-height: 64px;
		margin: initial;
	}
	[data-theme="dark"] {
		.title {
			background: -webkit-linear-gradient(
				120deg,
				hsl(0 100% 60%),
				hsl(15 100% 60%) 35%,
				hsl(23 96% 62%) 45%,
				hsl(0 100% 60%) 65%,
				hsl(358 58% 47%)
			);
			background-clip: text;
			-webkit-text-fill-color: transparent;
			font-size: 56px;
			line-height: 64px;
			margin: initial;
		}
	}

	.title2 {
		font-size: 56px;
		line-height: 64px;
		margin-bottom: 0px;
	}
}

@media screen and (max-width: 959px) {
	.header {
		display: flex;
		flex-direction: column-reverse;
	}
	.infoPart {
		text-align: center;
	}

	.logoPart {
	}

	.imageContainer {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 230px;
		position: relative;
		margin: 0 auto;
	}
	.logo {
		z-index: 1;
		width: 160px;
		height: 160px;
	}
	.imageBg {
		width: 220px;
		height: 220px;
		position: absolute;
		border-radius: 50%;
		background-image: linear-gradient(-45deg, #e51017 50%, #4da4c6 50%);
		filter: blur(68px);
	}
	.title {
		background: linear-gradient(
			-45deg,
			hsl(0 100% 60% / 80%),
			hsl(15 100% 60% / 80%) 40%,
			hsl(23 96% 62% / 80%) 45%,
			hsl(0 100% 60% / 80%) 60%,
			hsl(358 58% 47% / 80%)
		);
		background-clip: text;
		-webkit-text-fill-color: transparent;
		font-size: 56px;
		line-height: 64px;
		max-width: 392px;
		letter-spacing: -0.4px;
		line-height: 40px;
		font-size: 32px;
		font-weight: 700;
		white-space: pre-wrap;
	}

	.btnPart {
		display: flex;
		justify-content: space-around;
	}
	.title2 {
		font-weight: bold;
		font-size: 56px;
		line-height: 64px;
		margin-bottom: 0px;
		max-width: 392px;
		letter-spacing: -0.4px;
		line-height: 40px;
		font-size: 32px;
		font-weight: 700;
		white-space: pre-wrap;
	}
}
