.container {
    position: relative;
    .btnTable {
        margin-bottom: 12px;
    }
    .infoCard {
        margin-bottom: 12px;
    }
    .posItemsTableCard {
        margin-bottom: 30px;
    }
}
