.content {
	background-color: #e6ebf2;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	display: flex;
	.loginPanel {
		position: absolute;
		width: 100%;
		height: 100vh;
		z-index: 999;
	}
	.loginBox {
		position: relative;
		height: 100%;
		.loginTitle {
			text-align: center;
			font-size: 26px;
			font-family: cursive;
			margin-bottom: 1.4%;
			font-weight: bold;
			color: #888;
		}
		.loginCon {
			display: flex;
			width: 50%;
			margin: 0 auto;
			padding: 1%;
		}
	}
}
.loginCard {
	height: 100vh;
	width: 360px;
	border-radius: 0px;
	background: white;
	padding: 0px 80px;
}
